

/*start choose Us*/

.choose .c-panel ul{

	background: #000;
	color:#fff;
	display: flex;
	margin: 0; 
}
.choose .c-panel ul li{
 	padding:15px 30px;
	cursor: pointer;
}
.choose .c-panel .content .c-info{
 background: #fff;
 margin-bottom: 50px;
}
.choose .c-panel .c-info img{
        width: 57%;
    height: 250px;
    float: left;
    margin: 27px 15px 10px 0px;
    border-radius: 5px;
}
.choose .c-panel .c-info p{
   color:#888;
	line-height: 1.5;
    padding: 26px 0 0 0;
 }
.choose .c-panel .content .content3,.content2{

display: none;
}
 
/**------------------*/
 /*start choose Us*/


/************************** 
* 8. video features styles 
***************************/
.video-features {
   padding-top: 110px;
  padding-bottom: 120px;
  position: relative;
  z-index: 9; }
  .video-features .video-content {
    padding-top: 50px; 
}
    .video-features .video-content h3,
    .video-features .video-content p {
      color: #fff;
      margin: 0; }
    .video-features .video-content h3 {
      font-size: 32px;
      color: #FFFFFF;
      margin-bottom: 10px;
      font-family: "HelveticaNeue-Bold"; }
    .video-features .video-content p {
      color: #e3e3e3; }
    .video-features .video-content p + p {
      margin-top: 8px; }
  .video-features .video-box {
    position: relative; }
    .video-features .video-box:hover > img {
      opacity: .75; }
    .video-features .video-box:hover .overlay .box .content .video-btn {
      background: #FF7F50; }
    .video-features .video-box > img {
      opacity: 1;
      -webkit-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease; }
    .video-features .video-box .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      .video-features .video-box .overlay .box {
        display: table;
        width: 100%;
        height: 100%; }
        .video-features .video-box .overlay .box .content {
          display: table-cell;
          vertical-align: middle;
          text-align: center; }
          .video-features .video-box .overlay .box .content .video-btn {
            display: inline-block;
            width: 50px;
            height: 50px;
            color: #fff;
            background: #0F7BFF;
            border-radius: 50%;
            font-size: 30px;
            line-height: 50px;
            -webkit-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
            position: relative; }
            .video-features .video-box .overlay .box .content .video-btn:before {
              content: '';
              border: 5px solid;
              border-color: inherit;
              width: 150%;
              height: 150%;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              border-color: #0F7BFF;
              position: absolute;
              left: -25%;
              top: -25%;
              opacity: 1;
              -webkit-animation: 1s videomodule-anim linear infinite;
              animation: 1s videomodule-anim linear infinite; }
            .video-features .video-box .overlay .box .content .video-btn:after {
              content: '';
              border: 10px solid;
              border-color: inherit;
              width: 150%;
              height: 150%;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              border-color: rgba(15, 123, 255, 0.5);
              position: absolute;
              left: -25%;
              top: -25%;
              opacity: 1;
              -webkit-animation: 1s videomodule-anim linear infinite;
              animation: 1s videomodule-anim linear infinite; }

@-webkit-keyframes videomodule-anim {
  0% {
    -webkit-transform: scale(0.68);
    transform: scale(0.68); }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0; } }
            .video-features .video-box .overlay .box .content .video-btn i {
              line-height: 50px; }

@media (max-width: 1190px) {
  .video-features .video-box > img {
    width: 100%; } }

@media (max-width: 1080px) {
  .video-features .video-content {
    padding-top: 30px; }
  .video-features .video-content p {
    letter-spacing: 0;
	}
}

.active-btn{
background: #7cb62f!important;

}





/*=========================================*/

.video-features {
        padding-top: 0px!important;
}
.video-features .video-box > img {
      height: 390px;
}
