/* ==========================================================================
   comment list
========================================================================== */

#comments.comments-area{}

    h2.comments-title{
        font-size: 16px;
        margin-bottom: 20px;
        background: #262C38;
        padding: 8px;
        color: #fff;
    }

    ol.comment-list{ 
        list-style: none; padding: 0; margin: 0; 
        margin-bottom: 20px;
    }
    ol.children{
        list-style: none; padding: 0; margin: 0; 
        margin-top: 20px;
    }

        li.comment{ 
            position: relative;
            padding-right: 75px;
            margin-bottom: 20px;
        }
        li.comment.bypostauthor{ }

            li.comment article.comment-body{
                background: #fafafa;
                padding: 10px;
                border: 1px solid #E7E7E7;
            }
            li.comment footer.comment-meta{ }
                li.comment footer.comment-meta .vcard{ }
                    li.comment footer.comment-meta .vcard img{
                        position: absolute;
                        right: 0;
                        top: 0;
                        border: 1px solid #E7E7E7;
                        padding: 2px;
                    }
                    li.comment footer.comment-meta .vcard span.says{ }
                    li.comment footer.comment-meta .vcard b.fn{ }

                li.comment footer.comment-meta .comment-metadata{ }
                    li.comment footer.comment-meta .comment-metadata a{ }
                    li.comment footer.comment-meta .comment-metadata span.edit-link{ }
                        li.comment footer.comment-meta .comment-metadata span.edit-link a{ }

            li.comment .comment-content{ }
                li.comment .comment-content p{ }

            li.comment .reply{ }
                li.comment .reply a{ }


            li.comment .comment-respond{ }


    /* ==========================================================================
       comment form
    ========================================================================== */

    #respond.comment-respond{}

        h3.comment-reply-title{
            font-size: 16px;
            margin-bottom: 20px;
            background: #262C38;
            padding: 8px;
            color: #fff;
        }
            h3.comment-reply-title small{}

        form.comment-form{}

        p.logged-in-as{}
        p.comment-notes{}
            p.comment-notes span.email-notes{}
            p.comment-notes span.required{}

        p.comment-form-author{}
            p.comment-form-author label{}
            p.comment-form-author input{}

        p.comment-form-email{}
            p.comment-form-email label{}
            p.comment-form-email input{}

        p.comment-form-url{}
            p.comment-form-url label{}
            p.comment-form-url input{}

        p.comment-form-comment{}
            p.comment-form-comment label{ display: none !important; }
            p.comment-form-comment textarea{
                border: 1px solid #DCDCDC;
                background: #FCFCFC;
                height: 150px;
                width: 100%;
                color: #949494;
                text-transform: capitalize;
                line-height: 25px;
                padding: 10px;
            }

        p.form-allowed-tags{ display: none; }

        p.form-submit{}
            p.form-submit input{
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0px;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                -moz-user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 0;

                background: #2D3E50;
                color: #FFF;
                transition: all 0.3s ease 0s;

                /*float: left;*/
                display: block;
                width: 100%;
            }
            p.form-submit input:hover{ background: #00111c; }



form.comment-form  p:after{
    content: " ";
    display: block;
    zoom: 1;
    clear: both;
}
form.comment-form  p > label{
    display: block;
    float: right;
    width: 20%;
}
form.comment-form  p > input[type="text"],
form.comment-form  p > input[type="email"],
form.comment-form  p > input[type="url"]{
    width: 60%;
    border: 1px solid #DCDCDC;
    background: #FCFCFC;
    padding: 5px;
    color: #949494;
    float: left;
}