
 /*==============End div-slider======================*/
/*==============start main-title-h1 ======================*/

@media(max-width:992px){
.main-title-h1 h1:after {
    
    right: 32%!important;
    width: 75px!important;
}
 	.main-title-h1 h1:before {
     width: 70px!important; 
    left: -20%!important;
    margin: 0 auto!important;
    left: 34%!important;
}
	
}


.main-title-h1 h1 {
    margin-bottom: 20px;
    }

 .main-title-h1 {
    text-align: center;
    margin-bottom: 55px;
    position: relative;
    padding-top: 30px;
    color:#f7747a;
}
.main-title-h1 h1:before {
    position: absolute;
    bottom: 8px;
    height: 2px;
    content: " ";
    display: block;
    background: #00cabe;
    width: 6%;
    left:-20%;
    margin: 0 auto;
    left: 42%;
	
}
 
.main-title-h1 h1 {
 	 font-size: 20px;

}

.main-title-h1 h1:after {
    position: absolute;
    bottom: 8px;
    height: 2px;
    content: " ";
    display: block;
    background: #00cabe;
     right: 41%;
	width: 100px;
}
/*=============Endstart our work=============*/
/*============ start featured-work=======*/
 /*=============start-section  defrent    ()shvul js()================*/

.img-about{   
	width: 300px;
    height: 252px;
    margin-bottom: 20px;
}
.last-img{   
transform:   rotatey(180deg);
 }

/*----------------------------*/
 .AQaountaty-Bonk{
 min-height: 500px;
position: relative;
	background-image: url(/img/nslider-featured.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
 
.AQaountaty-Bonk .con{
margin-right: 8%;
    margin-left: 11%;
}
.h1-h2 h1{ 
	font-weight: bold;
    font-size: 21px;
    color: red;
    padding-top: 238px;
    padding-bottom: 10px;
}
.h1-h2 h3{  
     font-size: 20px;
    
}

.row-All-div{


padding-top: 10%;

}
.row-All-div p{
font-weight: bold;
	font-size: 17px;
 }
 
.img-bankss-1{
padding-top: 10px;
}
   /*---------strt conction-wathup---------*/
 .AQaountaty-Bonk{
 min-height: 500px;
position: relative;
	background-image: url(/img/nslider-featured.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
 
 

.row-All-div{


padding-top: 7%!important;

}
.row-All-div p{
font-weight: bold;
	font-size: 17px;


}
.icon-44{

    margin-bottom:35px;

}
.icon-44 i {

    padding: 25px;
    margin-bottom: 26px;
    border-color:  #123456;
    border-radius: 50%;
      font-size: 22px;
	border: 3px solid #fff;
	font-weight: bold;
}
.icon-44 .i-1 {
    color: #f7434a;
    border-color:  #f7434a;
}
.icon-44 .i-2 {
    color:#27cdc1;;
    border-color: #27cdc1;;
}
.icon-44 .i-3{
    color: #389ad9;;
    border-color:  #389ad9;;
}
 .icon-44 .i-4{
    color: #F6C948;;
    border-color:  #F6C948;;
}
 
.bared{

font-size:10px;
}
@media (max-width: 768px){
	.main-title-h1 h1:after {
     right: 29%!important;
    width: 60px!important;
}
	.main-title-h1 h1:before{
     min-width: 60px!important;
    left: -20%!important;
     left: 32%!important;
}
}
	
	
	.div-icon-socil .icon-Social-Media {
    background: #123456;
    border: 1px solid #3b3232;
    border-radius: 5px;
    display: inline-block;
    width: 72px;
    height: 74px;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 110px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #12283f;
}

.pulse {
  
    width: 76px;
    height: 76px;
    margin-left: 60px;
    position: absolute;
}
@media(max-width:768px){
.pulse {
   left: 21%!important;
}
	.butoon-1-a{
	margin-left: 0px!important;
	
	}
	
	}

 /*==============End div-slider======================*/
/*==============start main-title-h1 ======================*/

@media(max-width:992px){
.main-title-h1 h1:after {
     
}
 	.main-title-h1 h1:before {
     
}
	
}


@media(max-width:400px){
.main-title-h1 h1:after {
 right: 26%!important;
}
 
 	.main-title-h1 h1:before {
          left: 26%!important;

}
	
}


.main-title-h1 h1 {
    margin-bottom: 20px;
    }
 
.main-title-h1 h1:before {
    position: absolute;
    bottom: 8px;
    height: 2px;
    content: " ";
    display: block;
    background: #00cabe;
    width: 6%;
    left:-20%;
    margin: 0 auto;
    left: 42%;
	
}
 
.main-title-h1 h1 {
 	 font-size: 20px;

}

.main-title-h1 h1:after {
    position: absolute;
    bottom: 8px;
    height: 2px;
    content: " ";
    display: block;
    background: #00cabe;
  
right: 41%;
	width: 6%;
}
/*=============Endstart our work=============*/
  
/*=============start-section  defrent    ()shvul js()================*/




/*----------------------------*/
 .AQaountaty-Bonk{
 min-height: 600px;
position: relative;
	background-image: url(../img/nslider-featured.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
 
.AQaountaty-Bonk .con{
margin-right: 8%;
    margin-left: 11%;
}
.h1-h2 h1 {
    font-weight: bold;
    font-size: 24px;
    color: red;
    padding-top: 262px;
	padding-bottom: 24px;
    /* margin: 0 auto; */
    text-align: center;
    margin: 0 20px;
}
.h1-h2 h3{  
     font-size: 23px;
    font-weight: bold;
    color: #999;
	margin: 20px;
	text-align: center;

}

.row-All-div{


padding-top: 4%;

}
.row-All-div p{
font-weight: bold;
	font-size: 17px;


}
 
.img-bankss-1{
padding-top: 10px;
}
/*--------------------*/

/*--------------------*/


 .icon-44:hover i{
color: red;
border:3px solid #f00;
transform: scale(1.2,1.2) rotate(360deg);
  	transition: all .9s ease-in-out;
 }
.icon-44 i{
width: 76px;
	height: 76px;gf
	transition-duration: 0.5s;}
.icon-44{

    margin-bottom:35px;

}
.icon-44 i {

    padding: 25px;
    margin-bottom: 26px;
    border-color:  #123456;
    border-radius: 50%;
      font-size: 22px;
	border: 3px solid #fff;
	font-weight: bold;
}
.icon-44 .i-1 {
    color: #f7434a;
    border-color:  #f7434a;
}
.icon-44 .i-2 {
    color:#27cdc1;;
    border-color: #27cdc1;;
}
.icon-44 .i-3{
    color: #389ad9;;
    border-color:  #389ad9;;
}
 .icon-44 .i-4{
    color: #F6C948;;
    border-color:  #F6C948;
	 width: 76px;
	 height: 76px;
}
 
.bared{

font-size:10px;
}
 
/*==============End div-slider======================*/
.article-8{font-size: 20px;
    font-weight: bold;
    line-height: 2.2;}

