  /***************************************************************************************************************
||||||||||||||||||||||||||||       MASTER STYLESHEET FOR Moti               ||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************
* 1. imported styles 
* 3. header styles 
* 6. footer styles 
  * 14.contact-us styles 
****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/
/************************** 
* 1. imported styles 
***************************/
  @import url(componnt/header.css);
@import url(componnt/shooc-us.css);
@import url(componnt/owlcoursl-22.css);
@import url(componnt/statistics.css);
@import url(componnt/footr.css);
@import url(componnt/whatapp.css);
@import url(vendrs/bootstrap.min.css);
@import url(vendrs/font-awesome.min.css);
@import url(vendrs/animate.min.css);
@import url(vendrs/magnific-popup.css);
@import url(vendrs/owl.carousel.css);
@import url(vendrs/owl.theme.default.min.css);
 @import url(vendrs/plugins/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css);

body{

background:green ;
} 

 /*start componnt section  .portfoli shuflsccript*/

.portfoli .images > div img{
height: 100%;
width: 100%;
}
.portfoli .images > div {

margin-bottom: 20px;
height: 400px;
}
.buttons{
    text-align: center;
    margin: 50px 0;
}

.buttons button{
	    width: 109px;
    padding: 10px;
    background: #000;
    color: #fff;
    border: 0;
    cursor: pointer;
    margin: 20px 0;
     font-weight: bold;
    font-size: 20px;


}
.portfoli .more{
	width: 250px;
	padding: 10px;
	background: #666;
	color:#fff;
	border: 0;
	display: block;
	text-align: center;
	margin: auto;
	outline: 0;
	cursor: pointer;
}
.active-btn{
background: #7cb62f!important;

}
 /*-------overley-------*/

.col-over{
     height: 100%;
    background-color: transparent;
    position: absolute;
/*     display: none; */
     overflow: hidden;
    transition: all 1s ease;
	position: relative;
}
 .col-over .overley i{
 position: absolute;
    top: 50%;
    text-align: center;
    margin: auto;
    left: 39%;
    z-index: 5;
    color: #eee;
    font-size: 43px;
	transform: translate(-4% ,-46%);
}
 .overley{    
        position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
	 width: 94%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background: rgba(15, 123, 255, 0.5);
      -webkit-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease;
      opacity: 0;
}
  .col-over:hover .overley {
 opacity: 1;
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%); } 
.portfoli .images > div img {
    height: 100%;
    width: 94%;
    left: 0;
    top: 0;
    position: absolute;
}
	@media (max-width: 768px){
.col-over {
     margin-left: 3%;
} 
	
}
.portfoli .images > div   {
 	width: 100%;
    max-width:100%;
}

.fa-home:before {
    content: "\f015";
    margin-right: -118px;
    /* margin-left: 19px; */
}

/*-------End overley-------*/
/*End section shufle script*/
