 
 /***************************************************************************************************************
||||||||||||||||||||||||||||       MASTER STYLESHEET FOR Moti               ||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************
* 1. imported styles 
* 3. header styles 
* 6. footer styles 
  * 14.contact-us styles 
****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/
/************************** 
* 1. imported styles 
***************************/
@import url(componnt/contact-us-form.css);
@import url(componnt/header.css);
@import url(componnt/footr.css);
@import url(componnt/whatapp.css);
@import url(vendrs/bootstrap.min.css);
@import url(vendrs/font-awesome.min.css);
@import url(vendrs/animate.min.css);
 /************************** 
* 2. miscelnious styles 
***************************/
body {
  font-family: "HelveticaNeue";
  color: #888888;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .02em; 
} 
