    
@import url(bootstrap.min.css);
@import url(font-awesome.min.css);
 
/************************** 
* 2.   styles 
***************************/
body {
  font-family: "HelveticaNeue";
  color: #888888;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .02em; 
}

a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none !important;
  outline: none !important; }

/*--------------------------*/


 

 
 /*---------------start cection   sect-stap (11) -------------------------*/
.bacg-sect-stap{
 
     background:url(../../img/banner-2.jpg) no-repeat center center  fixed;
    min-height: 400px; 
	    color: #fefefa;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-webkit-background-attachment: fixed;
	-moz-background-attachment: fixed;
	-o-background-attachment: fixed;
	-ms-background-attachment: fixed;
	background-attachment: fixed;
  padding-bottom: 200px;
	
 }
 
.d-cont{
	 
	    width: 100%;
    height: 400px;
  margin-left: -22%;
}
.d-stap{
min-height:400px;
	width: 100%;
  position: relative;
 background-image: url(../../img/border.png)  ;
	background-repeat: no-repeat;
      background-position-x:57%;
	    background-size: cover;
}
.d-item-ic {
    position: absolute;
    display: inline-block;
    padding: 43px 0px;
}
.d-item-ic h4 {  
	margin: 20px -10px;
    padding: 0;
    font-size: 23px;
    font-weight: 700;
	color: #fff;
	font-size: 20px;
    font-weight: bold;
 }
.d-item-ic span  {
   width: 38px;
    height: 20px;
    padding: 34px 38px;
    color: #fff;
     display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 8px 0 0 8px;
}

.d-item-ic:hover span {
	width: 38px;
	height: 40px;
	border-radius: 50px;
	margin: 8px 0 0 8px;
	transition: all 1s ease-in-out

}
@media (max-width:650px){
.d-item-ic span  {
    width: 10px;
    height: 20px;
    padding: 24px 28px;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 8px 0 0 0px;
}
	
 
.d-item-ic h4 {  
	    margin: 10px -10px;
        padding: 0;
        font-size: 10px;
        font-weight: 700;
	    color: #fff;
		font-weight: bold;
	}
.cont-stap {
    width:89%;
}
 }
 @media (max-width:400px){
 .d-item-ic {
    position: inherit;
    display: inline-block;
    padding: 0px 0px;
}
.d-cont span:nth-child(1) div span:before,
.d-cont span:nth-child(2) div span:before,
.d-cont span:nth-child(3) div span:before,
.d-cont span:nth-child(4) div span:before,
.d-cont span:nth-child(5) div span:before,
.d-cont span:nth-child(7) div span:before,
.d-cont span:nth-child(8) div span:before,
.d-cont span:nth-child(6) div span:before
 {
display: none!important;
}
 
}
 
.d-item-ic span  i{
     line-height: 0;
	font-size:35px;
}

	.d-cont span:nth-child(1) div span:before 
      {                       content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 10px 10px 12px;
    border-color: transparent	 #190e44  transparent transparent;
    left: -15%;
    top: 34%;
     padding: 0 -71px;
    position: absolute;
 } 
 @media(max-width:768px)
 {
	.d-cont span  div span:before 
 {  
		 content: "";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12px 10px 10px 12px;
	   left: -15%;
		top: 34%;
		/* margin-right: 8px; */
		padding: 0 -71px;
		position: absolute;    border-color: transparent	 #190e44  transparent transparent;

	}
 	.d-cont span:nth-child(5) div span:before,
 	.d-cont span:nth-child(6) div span:before 
	
	
 	{ 
	      border-color: transparent   transparent transparent #47cf73;
           left: -64%;
    position: absolute;
 } 
	 	.d-cont span:nth-child(5) div span:before 
	
	
 	{ 
	   left: 100%;
		position: absolute;

 } 
	 	.d-cont span:nth-child(7) div span:before 
	
	
 	{ 
	   display: none

 } 
	.d-stap{
	
	background:none;
	}
.d-3-bottom {
    top: 54%;
}

}



/*start color i h4 span*/
.d-cont span:nth-child(1) div span:before {
  border-color: transparent	 #190e44  transparent  transparent;
}
  .d-cont span:nth-child(1) div span { 
         background: #190e44;}                                 
   

.d-cont span:nth-child(2) div span:before {
  border-color: transparent	  #16a085 transparent  transparent;
}
  .d-cont span:nth-child(2) div span { 
         background: #16a085;}                                 
 

.d-cont span:nth-child(3) div span:before {
  border-color: transparent	   #ff9e09  transparent  transparent;
}
  .d-cont span:nth-child(3) div span
{ 
         background:  #ff9e09 ;
}  
  .d-cont span:nth-child(3) div i
{ 
       margin-left: 20px ;
}     

  
.d-cont span:nth-child(4) div span:before {
  border-color: transparent	    #c0392b   transparent  transparent;
}
  .d-cont span:nth-child(4) div span { 
         background:   #c0392b ;
}                                 
  
.d-cont span:nth-child(5) div span:before {
  border-color: transparent	     transparent  transparent #366276 ;
}
  .d-cont span:nth-child(5) div span { 
         background:    #366276 ;
}     
 
  .d-cont span:nth-child(6) div span { 
         background:#439fd3; ;
}   
  
.d-cont span:nth-child(7) div span:before {
  border-color: transparent	     transparent  transparent  #47cf73;
}
  .d-cont span:nth-child(7) div span { 
         background: #47cf73 ;
}                                 
  
   
/*-------strt pading		  */

.d-cont span:nth-child(1) div
   
   {                                 
    
	   left: 93%;
}
@media(max-width:768px){
	.d-cont span:nth-child(1) div {
    left: 85%;
}
}
.d-cont span:nth-child(2) div,
 .d-cont span:nth-child(6) div   
  {                                 
  		   left: 65%;
   }   
.d-cont span:nth-child(3) div,
  .d-cont span:nth-child(7) div   
      {                                 
 
		   left: 38%;
  } 

.d-cont span:nth-child(4) div ,
.d-cont span:nth-child(5) div 

      {                                 
 left: 12.5%;
} 
      {                                 
  
		   left: 15%;
  } 
 
  .d-3-bottom{
    top: 65%;
}
  /*-------strt pading		  */
		  
  
.d-cont span div span i{
 font-size:35px;
 background: #000; 


}
 
.fa-fighter-jet{

transform: rotate(270deg);
padding-right: 32px
}
.fa-fighter-jet:before{
	color: #fff !important;
      content: "\f0fb";
     position: absolute;
    left: 3px;
     top: 1px;
 }
/*---------------End cection   sect-stap?3 (11) ------------------------*/





























 

/*start section servis*/


body{
/*min-height: 4000px;*/
   color: #000; 
/*  height: 4000px;*/
     background-color: #f7f7f7;
  font-family: tahome;  
	position:relative;
 
}
h1, h2, h3, h4, h5, h6, p , div{
margin: 0;
 padding: 0;
} 

.margin{	
	margin: 100px 0 ;
	overflow: hidden;
}

.padding{	
	padding: 100px 0 ;
}


/**End glopl*/ 
/** start section  glopl*/




/**End section  glopl*/ 




  *---------------------golply---------------------------------*/
 
ul a li:hover{
	text-decoration: none;
}
	mohamed 
}
  ul li a:hover{
	text-decoration: none;
	color: #999;
 }
ul{
list-style: none;
	margin: 0;
	padding: 0;
}
  
  
/*--------------------------*/
/*custm style*/

.custm-head p{
 color: #fff;
	
}
		.mohamed{
	
	width: 100%;
		height: 1000px;
		background: #000;
	
	}
	.nav-img-fotr-1 ul li {
     flex-grow: none; 
     justify-content:none; 
     
    margin: 0 29px;
}
 
.video-features .video-box > img {
    height: 467px;
} 
/*//------------------------------------*/

 .section-all-fotar .main-title-h1 h1 {
    font-size: 21px;
    padding: 22px;
    margin-left: -24px;
    border-bottom: 3px solid #f7747a;
    display: inline-block;
    color: #f7747a;
    font-weight: bold;
    margin: 15px 0;
}


 



.bacg-sect-stap{
 	 
     background:url(../../img/banner-2.jpg) no-repeat center;         min-height: 500px;
}
@media(max-width:1050px){

d-cont span:nth-child(1) div {
    left: 84%;
}
	
}
 

 serves, .container-serves {
      padding:   0; 
   
}
.section-header {
     margin:70px  0 ; 
}
.asi-All{
    line-height: 6;
    width: 100px;
    height: 100px;
    background: #7cb62f;
    border-radius: 50%;
	color: #fff;
	transition: All 1s ease;

		
}
.single-app-review:hover{
	transition: All 1s ease;

	border: 5px solid #7cb62f;

}
.single-app-review:hover .asi-All{
     border-radius: 0;

}

.sect-stap .section-header p {
    margin: 15px auto;
    color: #a9a9a9!important;
     max-width: 700px!important;
    margin-bottom: 50px;
    font-size: 19px;
    font-weight: bold!important;
}
.app-review .color-fff{
	color: #fff!important;
	}
