   /***************************************************************************************************************
||||||||||||||||||||||||||||       MASTER STYLESHEET  ||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||                CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************
* 1. imported styles 
* 3. header styles 
* 6. whatapp.css 
  * 14.font-awesome.min.css
****************************************************************************************************************
||||||||||||||||||||||||||||            End   CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/
/************************** 
* 1. imported styles */

  /*=============== ======start whatsappp====================*/
  .AQaountaty-Bonk
{
	padding: 50px 0;
    position: relative;
 background: #f8b403 url(../../img/bg-map.png);
	background-repeat: no-repeat;
	background-size: cover;
 	margin-bottom: -56px!important;
}
 
.AQaountaty-Bonk .con
{
    margin-right: 8%;
    margin-left: 11%;
}
.h1-h2 h1 
{
    font-weight: bold;
    font-size: 24px;
    color: red;
    padding-top: 262px;
	padding-bottom: 24px;
     text-align: center;
    margin: 0 20px;
	
}
.h1-h2 h3
{  
     font-size: 23px;
     font-weight: bold;
     color: #999;
	  margin: 20px;
	text-align: center;

}

.row-All-div
{
  padding-top: 4%;
 }
.row-All-div p
{
    font-weight: bold;
	font-size: 17px;
 }
 
.img-bankss-1
{
   padding-top: 10px;
}
/*--------------------*/

/*--------------------*/


 .icon-44:hover i{
color: red;
border:3px solid #f00;
transform: scale(1.2,1.2) rotate(360deg);
  	transition: all .9s ease-in-out;
 }
.icon-44 i{
width: 76px;
	height: 76px;gf
	transition-duration: 0.5s;}
.icon-44{

    margin-bottom:35px;

}
.icon-44 i {

    padding: 25px;
    margin-bottom: 26px;
    border-color:  #123456;
    border-radius: 50%;
      font-size: 22px;
	border: 3px solid #fff;
	font-weight: bold;
}
.icon-44 .i-1 {
    color: #7cb62f;
    border-color:  #7cb62f;
}
.icon-44 .i-2 {
    color:#27cdc1;;
    border-color: #27cdc1;;
}
.icon-44 .i-3{
    color: #389ad9;;
    border-color:  #389ad9;;
}
 .icon-44 .i-4{
    color: #7cb62f;;
    border-color:  #7cb62f;
	 width: 76px;
	 height: 76px;
}
 
.bared{

font-size:10px;
}
 
   
  /*----------------------------------------------------------*/
.pulse{
     border: 1px solid #7cb62f;
     border-radius: 50%;
     width: 76px;
     height: 76px;
	 margin-left:41%;
     position: absolute;
  }
.pulse:before,
.pulse:after{
 content: "";
	position: absolute;
	display: block;
	border: 50%;
	border: 3px solid #7cb62f;
	left: -20px;
	right: -20px;
	bottom: -20px;
	top: -20px;
	border-radius: 50%;
	-webkit-animation: animaephone 1.5s linear infinite;
	-moz-animation: animaephone 1.5s linear infinite;
	-ms-animation: animaephone 1.5s linear infinite;
	-o-animation: animaephone 1.5s linear infinite;
	animation: animaephone 1.5s linear infinite;
	opacity: 0;
	backface-visibility: hidden;
}
.p-phone{
     margin-top:100px;
}
.pulse:after{
     animation-delay: .5s;
     -webkit-animation-delay: .5s;
     -moz-animation-delay: .5s;
     -ms-animation-delay: .5s;
     -o-animation-delay: .5s;
}

-webkit-keyframes animaephone
{
 
	 0%{
	
	transform: scale(.5);
		opacity: 0;
	}
	
	 50%{
	
 		opacity: 1;
	}
	
	 100%{
	
	transform: scale(  1  );
		opacity: 0;
	}
	
	

}
 -moz-keyframes animaephone
{
 
	 0%{
	
	transform: scale(.5);
		opacity: 0;
	}
	
	 50%{
	
 		opacity: 1;
	}
	
	 100%{
	
	transform: scale(  1  );
		opacity: 0;
	}
 }
-sm-keyframes animaephone
{
 	 0%{
	
	transform: scale(.5);
		opacity: 0;
	}
 	 50%{
  		opacity: 1;
	}
 	 100%{
	
	transform: scale(  1  );
		opacity: 0;
	}
	
	

}
-o-keyframes animaephone
{
 
	 0%{
	
	transform: scale(.5);
		opacity: 0;
	}
	
	 50%{
	
 		opacity: 1;
	}
	
	 100%{
	
	transform: scale(  1  );
		opacity: 0;
	}
	
	

}
@keyframes animaephone
{
 
	 0%{
	
	transform: scale(.5);
		opacity: 0;
	}
	
	 50%{
	
 		opacity: 1;
	}
	
	 100%{
	
	transform: scale(  1  );
		opacity: 0;
	}
	 
} 
a{
	color: #fff!important;
}
/*--------pulse ---------*/
 
 
/*------------------start  tstmon join-us------------------*/
 .span-border {
    display: block;
    width: 70px;
    height: 4px;
    background: #7cd62f;
    margin: auto;
    position: relative;
    bottom: 3px;
}
.line {
    width: 120px;
    height: 2px;
    background: #ddd;
    margin: auto;
}
 

 