@media (max-width: 1228px) {
	#featured .slide-item{
		max-width: 70%;
	}

	.elec-banks-list .item{
		margin-bottom: 10px;
	}
}
@media (max-width: 1200px) {
	.projects-item{
		width: 33.3333%;
	}

	#page-featured .res-img{
		transform: scale(0.8);
	}


	.section-contact-methods .col-fifth{
		width: 25%;
		margin-bottom: 15px;
	}
	.section-contact-methods .col-fifth:last-child{
		width: 100%;
	}

}
@media (max-width: 1000px) {
	#featured .simg.img-tab {
	}
	#featured .slide-item{
	  max-width: 95%;
	  background: rgba(38, 44, 56, 0.6);
	  padding: 26px;
	}
	#featured .simg {
		display: none;
	}


	#page-featured .col-md-5{
		display: none;
	}
	#page-featured .col-md-7{
		width: 100%;
	}

	section.section-preview > .container{
		padding-left: 38% !important;
	}



	.section-contact-methods .col-fifth{
		width: 33.3333%;
		margin-bottom: 15px;
	}

	.section-contact-methods .col-fifth:nth-child(5),
	.section-contact-methods .col-fifth:nth-child(4){
		width: 50%;
	}




}





@media (max-width: 980px) {
	.projects-item{
		width: 33.3333%;
	}
	.projects-item a.overlaylink i{
		font-size: 13px;
	}
	.projects-item a.overlaylink {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
}


@media (max-width: 800px) {
	section.section-preview > .container{
		padding-left: 15px !important;
	}
	section.section-preview > .container .image-pos-a{
		display: none;
	}
}

@media (max-width: 760px) {

	.item-with-icon{

	}
	.item-with-icon .icon{
		background: none;
		color: #25CCC2;
		border: 0;
	}
	.item-with-icon .icon:after{ display: none;}


}


@media (max-width: 750px) {

	.section-contact-methods .col-fifth{
		width: 50%;
		margin-bottom: 15px;
	}
	.section-contact-methods .col-fifth:last-child{
		width: 100%;
	}

}




@media (max-width: 600px) {

	.service-item .title{
		float: none;
		width: 100%;
	}
	.service-item .icon{
		display: none;
	}
	.service-item .entry{
		float: none;
		width: 100%;
	}

	.projects-item{
		width: 50%;
	}


	.main-title h1{
		font-size: 16px;
	}
	.section-banks-location h1{
		font-size: 18px;
	}


}


@media (max-width: 540px) {
	section.social .llabel{
		background: none;
		padding-right: 10px;
	}

	.vertical-tabs .nav.nav-tabs{
		width: 100% !important;
		float: none !important;
	}
}


@media (max-width: 550px) {

	.section-contact-methods .col-fifth{
		width: 100%;
		margin-bottom: 15px;
	}
	.section-contact-methods .col-fifth:nth-child(5), .section-contact-methods .col-fifth:nth-child(4){
		width: 100%;
	}
}


@media (max-width: 460px) {

	.item-with-icon .col-xs-2{
		display: none;
	}
	.item-with-icon .col-xs-10{
		width: 100%;
	}
}



@media (max-width: 380px) {

	.projects-item{
		width: 100%;
	}
}



/* **************************************************** */