 /*--------------- start section cardes plan------*/
			.contanir-plan{ 
			margin-top: 100px;
			}
			.plen { 
			padding-top:100px;
			} 
			.icon-servis-plan:before {
			content: "\f233";
			font-size: 102px;
			}
			.icon-servis-plan{
			margin-top: 82px;
			font-size: 102px;
			color: #7a1b1d;
			margin-top: 34px;
			margin-right: 14px;
			}
			.div-price h4 {
			margin-bottom: 10px;
			font-weight: bold;
			padding-top: 22px;
			}
			.carders .span-card-tow{
			background:#7a1b1d;
			border-radius: 50%;
			width: 70px;
			height: 70px;
			position: absolute;
			line-height: 3.2;
			margin-left: -93px;
			margin-top: -12px;
			transition-duration: 0.5s;
			}
			.span-card-thre {
			margin-right: 104px;
			font-size: 26px;
			}
			.span-card-one {
			margin-left: -25px;
			font-size: 26px;
			}
			.carders:hover .span-card-tow{
			-webkit-transform: scale(1.2,1.2) rotate(360deg);
			-moz-transform: scale(1.2,1.2) rotate(360deg);
			-ms-transform: scale(1.2,1.2) rotate(360deg);
			-o-transform: scale(1.2,1.2) rotate(360deg);
			transform: scale(1.2,1.2) rotate(360deg);
			transition: all .5s ease-in-out;	
			-webkit-transition-duration: 0.5s;
			-moz-transition-duration: 0.5s;
			-ms-transition-duration: 0.5s;
			-o-transition-duration: 0.5s;
			transition-duration: 0.5s;
			border: 1px solid #00f;
			font-size: 30px;
			line-height: 2.2;
			}
			/*--------------*/
			.All-All-div{
			border: 1px solid #00f;
			}
			.div-a-card {
			background: #f6c948;
			padding-top: 14px;
			padding-bottom: 14px;
			margin-top: -18px;
			}
			.div-card-3 a{
			color: #fff;
			}
			.div-card-2 ul li:hover{
			border-right: 10px solid #000;
			border-left: 10px solid #000;
			background: #fff;
			color: #000;
			}
			.div-card-1{
			background: #f6c948;
/*             margin-top: 100px;*/
			}
			.div-card-2{
			background:#fafafa;
			color: #000;
			}
			.div-card-3 {
			background: #f6c948;
			}
			.carders{ 
			position: relative;
			}
			.div-price
			{    text-align: center;
			font-weight: bold;
			font-size: 20px;
			}
			.carders
			{ 
			width: 100%;
			color: #fff;
			margin-bottom: 25px;
			text-align: center;
			}
			.one-carde .all , .div-card-1{
			border: 1px solid #eee;
			background: #f6c948;
			}  
			.tow-carde .all ,.div-card-2 {
			border: 1px solid #eee;
			background: #f7747a;
			}
			.thre-carde .all , .div-card-3{
			border: 1px solid #3694d2;
			background: #3694d2;
			}
			.four-carde .all ,  .div-card-4 {
			background: #27cdc1;
			}

			.carders ul li{
			/* text-align: right; */
			border-bottom: 1px solid #123456;
			padding-right: -43px;
			margin-right: 25px;
			}
			.carders ul {
			margin-top: 0;
			margin-bottom: 1rem;
			list-style: none;
			line-height: 2.5;
			text-align: center;
			background: #fafafa;
			font-size: 20px;
			}
			.carders ul li:before{
			content: "\f00c";
			display: block;
			position: absolute;
			color: red;
			right: 7%;
			font-family: "fontAwesome";
			}

			.carders ul .lixx:before{
			content: " /f00c";
			display: block;
			position: absolute;
			color: #000;
			right: 7%;
			font-family: "fontAwesome";
			content:"\f00c"; 
			}
			.dropdown-item:before{
			display: block;
			position: absolute;
			font-family: "fontAwesome";
			content: "\f138"; 
			color: #999;
			}
			 .tow-carde ul{  
			padding-bottom:  150px; 
			}
			.tow-carde {
			margin-top: -150px;
			}
 
			@media (max-width: 768px)
			{
			.tow-carde {
			margin-top: 1px  ;
			}
			}
			.div-a-card a{
			color: #fff;
			font-weight: bold;
			}
			/*--------------- End section plen------*/
			/*-----------  End section i6 rotot icon-6 E--------------*/
			body{
			background-image: url(../../img/type-site/background-img.png)!important;
			color: #000;
			width: 100%;
			}
a:hover{
	text-decoration: none
}