/* ==========================================================================
    Sidebar
========================================================================== */
#secondary.widget-area{
    color: #fff;
    padding: 18px;
    border-top: 0 solid #DE3E3E;
    min-height: 400px;
    padding-top: 0;
}
    .widget{
        padding-bottom: 30px;
        background: #fafafa;
        margin-bottom: 20px;
        margin-left: -18px;
        margin-right: -18px;
    }
        .widget-title{
            font-size: 13px;
            font-weight: bold;
            border-bottom: 1px solid #515151;
            padding-bottom: 10px;
            padding-top: 10px;
            margin-bottom: 15px;
            background: #262C38;
            padding-right: 10px;
            color: #fff;
        }
        .widget .widget-entry{
            padding: 10px;
            color: #7B7B7B;
        }


/* ==========================================================================
   widgets GLobals
========================================================================== */
.widget ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.widget ul ul{ display: none;}
.widget ul li{
    border-bottom: 1px solid #E2E0E0;
    transition: all 0.3s;
}
.widget ul li:last-child{
    border-bottom: 0;
}
.widget ul li a{
    color: #262C38;
    padding-bottom: 5px;
    display: block;
    transition: all 0.3s;
    padding-top: 5px;
}
.widget ul li:hover{
    border-color: #B6B6B6;
}
.widget ul li a:hover{
    color: #B6B6B6;
}


/* ==========================================================================
   Calendar
========================================================================== */
#calendar_wrap{}
#calendar_wrap table{
    width: 100%;
}
#calendar_wrap table td,
#calendar_wrap table th{
    /*text-align: center;*/
    padding: 2px 2px;
}
#calendar_wrap table #prev{ text-align: right;}
#calendar_wrap table #next{ text-align: left;}
#calendar_wrap table a{
    color: #fff;
}
#calendar_wrap table caption{
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #515151;
    padding-bottom: 15px;
    margin-bottom: 15px;
    background: #DE3E3E;
    padding-top: 15px;
    padding-right: 10px;
    margin-left: -18px;
    margin-right: -18px;
    color: #fff;
}


/* ==========================================================================
   sidebar widgets
========================================================================== */
/* 
.sidebar h1{ font-size: 15px; }
.sidebar h2{ font-size: 14px; }
.sidebar h3{ font-size: 13px; }

.sidebar .widget{
    margin-bottom: 20px;
}
.sidebar .widget .widget-title{
    background: #ab1b1f;
    color: #fff;
    padding: 8px;
    border-radius: 0;
    margin-bottom: 0;
}

.sidebar .widget .widget-entry{
    background: #00111c;
    color: #fff;
    padding: 8px;
    border-radius: 0;
    margin: 0;
    border-bottom: 2px solid #00111c;
}

 */