 	'use strict';
//Adjust slider Height

 

$('.coutn-one').countTo({
	from:0,
	to :10000,
	speed:12000,
	refreshInterval:80 
});
	 $('.coutn-tow').countTo({
	from:0,
	to :15652,
	speed:13000,
	refreshInterval:80 
});

	 $('.coutn-thre').countTo({
	from:0,
	to :80550,
	speed:12000,
	refreshInterval:80 
});

	 $('.coutn-four').countTo({
	from:0,
	to :75000,
	speed:12500,
	refreshInterval:80 
});
	 /*===================*/
 
